{% extends 'home/layout.html' %}
{% block body %}
{% include 'home/navbar.html' %}
<div class="container mt-5">
    <h2 class="text-primary">Profile Page</h2>
    <form method="POST" class="mt-4">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                {{ form.as_p }}
                <button type="submit" class="btn btn-success mt-2">Save Changes</button>
            </div>
        </div>
    </form>

    <hr>
    <h4 class="mt-5">Your Profile Info</h4>
    <table class="table">
        <tr><th>Name</th><td>{{ profile.name }}</td></tr>
        <tr><th>Email</th><td>{{ profile.email }}</td></tr>
        <tr><th>Role</th><td>{{ profile.designation }}</td></tr>
        <tr><th>Batch</th><td>{{ profile.batch }}</td></tr>
    </table>
</div>
{% endblock %}
